In [5]:
import pandas as pd
import numpy as np
import json

In [14]:
# main dataframe
f = open('transaction-data-adhoc-analysis.json')
data = json.loads(f.read())
df = pd.DataFrame.from_dict(pd.json_normalize(data), orient='columns')
f.close()

df

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,"Exotic Extras,Beef Chicharon,(x4)",5196,2022/01/12
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"Exotic Extras,Beef Chicharon,(x3);HealthyKid 3...",12056,2022/01/12
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Gummy Vitamins,(x3);HealthyKid 3...",5500,2022/01/08
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Yummy Vegetables,(x1)",500,2022/01/10
4,"33911 Hansen Loaf\nWest Sandra, ND 54188",1949/09/27,michael78@yahoo.com,Kristen Cooper,F,qhernandez,"Candy City,Orange Beans,(x3);Candy City,Gummy ...",2697,2022/01/24
...,...,...,...,...,...,...,...,...,...
83031,"96081 Harrison Brooks\nJenniferbury, MA 02124",2019/10/26,christina55@hotmail.com,Tammy Byrd,F,kmcconnell,"Exotic Extras,Kimchi and Seaweed,(x2);HealthyK...",3588,2022/06/05
83032,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",2095,2022/06/12
83033,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"Candy City,Orange Beans,(x4);Candy City,Gummy ...",3396,2022/06/15
83034,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Nutrional Milk,(x2);Candy City,G...",4280,2022/06/09
83035,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,"HealthyKid 3+,Nutrional Milk,(x1);Candy City,G...",2639,2022/06/03

Warning: total number of rows (83036) exceeds max_rows (20000). Limiting to first (20000) rows.

In [112]:
# aid to look for unit price
df2 = df
df2.transaction_items = df2.transaction_items.astype(str)
df2[df2['transaction_items'].str.contains('Yummy')]

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Gummy Vitamins,(x3);HealthyKid 3...",5500,2022/01/08
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Yummy Vegetables,(x1)",500,2022/01/10
5,"958 Henry Extension\nMarthamouth, WV 78781",2012/03/20,john21@gmail.com,Alexander Davis,M,esmith,"HealthyKid 3+,Nutrional Milk,(x1);HealthyKid 3...",2990,2022/01/11
9,"63261 Brewer Drive Apt. 704\nLake Alicia, NJ 0...",1956/08/27,racheldiaz@gmail.com,Jennifer Figueroa,F,hoodbrett,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",10196,2022/01/19
10,"2049 Schneider Walk\nScottfurt, DC 18004",1993/10/21,codydavis@gmail.com,Steven Woods,M,amandahill,"HealthyKid 3+,Yummy Vegetables,(x2);Candy City...",1150,2022/01/26
...,...,...,...,...,...,...,...,...,...
83010,"3025 Jessica Bridge Suite 934\nSarahborough, O...",1951/02/04,janice52@gmail.com,Gilbert Fisher,M,rebecca00,"HealthyKid 3+,Yummy Vegetables,(x3)",1500,2022/06/12
83020,"6422 Gonzales Bypass\nMillsmouth, KS 00609",1933/07/10,luketran@hotmail.com,Rachel Morton,F,vanessabarnes,"Exotic Extras,Beef Chicharon,(x4);HealthyKid 3...",6696,2022/06/30
83028,"826 Jacqueline Point Suite 410\nWest Diane, MI...",1921/04/21,michelledillon@hotmail.com,Bethany Peters,F,sarah79,"Exotic Extras,Kimchi and Seaweed,(x4);HealthyK...",12656,2022/06/20
83032,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",2095,2022/06/12
83033,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"Candy City,Orange Beans,(x4);Candy City,Gummy ...",3396,2022/06/15

In [113]:
# Item Unit Prices (manually computed)
price_df = pd.DataFrame({'Product': ['Candy City Gummy Worms', 'Candy City Orange Beans', 'Exotic Extras Beef Chicharon', 'Exotic Extras Kimchi and Seaweed', 
                                     'HealthyKid 3+ Gummy Vitamins', 'HealthyKid 3+ Nutrional Milk', 'HealthyKid 3+ Yummy Vegetables'],
                        'Price': [150, 199, 1299, 799, 1500, 1990, 500] })
price_df

                            Product  Price
0            Candy City Gummy Worms    150
1           Candy City Orange Beans    199
2      Exotic Extras Beef Chicharon   1299
3  Exotic Extras Kimchi and Seaweed    799
4      HealthyKid 3+ Gummy Vitamins   1500
5      HealthyKid 3+ Nutrional Milk   1990
6    HealthyKid 3+ Yummy Vegetables    500

In [89]:
#item dataframe
item_df = df[['transaction_items', 'transaction_value', 'transaction_date']].copy()

#transaction items
item_df = item_df.drop('transaction_items', axis=1).join(df.transaction_items.str.split(";",expand=True).stack().reset_index(drop=True,level=1).rename('transaction_item'))
item_df["quantity"] = item_df.transaction_item.str.extract(r'(\d+)', expand=True)
item_df['transaction_item'] = item_df.transaction_item.str.replace(r'(x\d+)'," ", regex=True)
item_df['transaction_item'] = item_df.transaction_item.str.replace(","," ").str.replace("("," ").str.replace(")"," ")
item_df.quantity = item_df.quantity.astype(int)

# transaction date
item_df['year']= item_df.transaction_date.str.split('/', expand=True)[0]
item_df['month']= item_df.transaction_date.str.split('/', expand=True)[1] 
item_df['day']= item_df.transaction_date.str.split('/', expand=True)[2] 

item_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,transaction_value,transaction_date,transaction_item,quantity,year,month,day
0,5196,2022/01/12,Exotic Extras Beef Chicharon,4,2022,01,12
1,12056,2022/01/12,Exotic Extras Beef Chicharon,3,2022,01,12
1,12056,2022/01/12,HealthyKid 3+ Nutrional Milk,3,2022,01,12
1,12056,2022/01/12,Candy City Orange Beans,1,2022,01,12
2,5500,2022/01/08,HealthyKid 3+ Gummy Vitamins,3,2022,01,08
...,...,...,...,...,...,...,...
83034,4280,2022/06/09,HealthyKid 3+ Nutrional Milk,3,2022,06,09
83034,4280,2022/06/09,Candy City Gummy Worms,2,2022,06,09
83035,2639,2022/06/03,HealthyKid 3+ Nutrional Milk,3,2022,06,03
83035,2639,2022/06/03,Candy City Gummy Worms,3,2022,06,03
83035,2639,2022/06/03,Candy City Orange Beans,1,2022,06,03

In [90]:
january = item_df.loc[item_df['month'] == "01"].groupby('transaction_item')["quantity"].sum()
january

transaction_item
Candy City Gummy Worms                   9559
Candy City Orange Beans                  9774
Exotic Extras Beef Chicharon             9665
Exotic Extras Kimchi and Seaweed         9676
HealthyKid 3+ Gummy Vitamins            11580
HealthyKid 3+ Nutrional Milk            11616
HealthyKid 3+ Yummy Vegetables          11928
Name: quantity, dtype: int64

In [98]:
item_sold_per_month = item_df.groupby(['month','transaction_item'])['quantity'].agg('sum').reset_index()
item_sold_per_month

   month                      transaction_item  quantity
0     01            Candy City Gummy Worms          9559
1     01           Candy City Orange Beans          9774
2     01      Exotic Extras Beef Chicharon          9665
3     01  Exotic Extras Kimchi and Seaweed          9676
4     01      HealthyKid 3+ Gummy Vitamins         11580
5     01      HealthyKid 3+ Nutrional Milk         11616
6     01    HealthyKid 3+ Yummy Vegetables         11928
7     02            Candy City Gummy Worms          9996
8     02           Candy City Orange Beans         10037
9     02      Exotic Extras Beef Chicharon         10001
10    02  Exotic Extras Kimchi and Seaweed          9949
11    02      HealthyKid 3+ Gummy Vitamins         11970
12    02      HealthyKid 3+ Nutrional Milk         11697
13    02    HealthyKid 3+ Yummy Vegetables         12216
14    03            Candy City Gummy Worms          9986
15    03           Candy City Orange Beans          9611
16    03      Exotic Extras Beef Chicharon          9816
17    03  Exotic Extras Kimchi and Seaweed          9967
18    03      HealthyKid 3+ Gummy Vitamins         12156
19    03      HealthyKid 3+ Nutrional Milk         11886
20    03    HealthyKid 3+ Yummy Vegetables         11964
21    04            Candy City Gummy Worms         10043
22    04           Candy City Orange Beans          9914
23    04      Exotic Extras Beef Chicharon          9890
24    04  Exotic Extras Kimchi and Seaweed          9921
25    04      HealthyKid 3+ Gummy Vitamins         11778
26    04      HealthyKid 3+ Nutrional Milk         11856
27    04    HealthyKid 3+ Yummy Vegetables         11925
28    05            Candy City Gummy Worms          9801
29    05           Candy City Orange Beans          9964
30    05      Exotic Extras Beef Chicharon         10028
31    05  Exotic Extras Kimchi and Seaweed          9773
32    05      HealthyKid 3+ Gummy Vitamins         11907
33    05      HealthyKid 3+ Nutrional Milk         11991
34    05    HealthyKid 3+ Yummy Vegetables         11745
35    06            Candy City Gummy Worms          9934
36    06           Candy City Orange Beans         10106
37    06      Exotic Extras Beef Chicharon          9902
38    06  Exotic Extras Kimchi and Seaweed         10104
39    06      HealthyKid 3+ Gummy Vitamins         11991
40    06      HealthyKid 3+ Nutrional Milk         11550
41    06    HealthyKid 3+ Yummy Vegetables         11718

### Quantities of Item Sold Per Month Table

In [171]:
# Quantities of Item Sold Per Month Table
output = pd.pivot_table(data=item_sold_per_month, 
                        index=['transaction_item'], 
                        columns=['month'], 
                        values='quantity')
output

month                                    01     02     03     04     05     06
transaction_item
Candy City Gummy Worms                 9559   9996   9986  10043   9801   9934
Candy City Orange Beans                9774  10037   9611   9914   9964  10106
Exotic Extras Beef Chicharon           9665  10001   9816   9890  10028   9902
Exotic Extras Kimchi and Seaweed       9676   9949   9967   9921   9773  10104
HealthyKid 3+ Gummy Vitamins          11580  11970  12156  11778  11907  11991
HealthyKid 3+ Nutrional Milk          11616  11697  11886  11856  11991  11550
HealthyKid 3+ Yummy Vegetables        11928  12216  11964  11925  11745  11718

In [137]:
price_df.loc[price_df['Product'].str.contains("Worm")]["Price"]

0    150
Name: Price, dtype: int64

In [161]:
def computeSales(prod, q):

    if "Worm" in prod:
      sales = price_df.loc[price_df['Product'].str.contains("Worm")]["Price"] * q
    elif "Orange" in prod:
      sales = price_df.loc[price_df['Product'].str.contains("Orange")]["Price"] * q
    elif "Beef" in prod:
      sales = price_df.loc[price_df['Product'].str.contains("Beef")]["Price"] * q
    elif "Kimchi" in prod:
      sales = price_df.loc[price_df['Product'].str.contains("Kimchi")]["Price"] * q
    elif "Vitamins" in prod:
      sales = price_df.loc[price_df['Product'].str.contains("Vitamins")]["Price"] * q
    elif "Milk" in prod:
      sales = price_df.loc[price_df['Product'].str.contains("Milk")]["Price"] * q
    elif "Vegetables" in prod:
      sales = price_df.loc[price_df['Product'].str.contains("Vegetables")]["Price"] * q
   
    return sales

In [169]:
item_sales_per_month = item_sold_per_month
item_sales = item_sales_per_month.apply(lambda x: computeSales(x.transaction_item, x.quantity), axis=1)
item_sales = item_sales.replace(np.nan,0)
item_sales['Total Sales']= item_sales.sum(axis=1)
item_sales_per_month['Total Sales'] = item_sales['Total Sales']
item_sales_per_month

   month                      transaction_item  quantity  Total Sales
0     01            Candy City Gummy Worms          9559    1433850.0
1     01           Candy City Orange Beans          9774    1945026.0
2     01      Exotic Extras Beef Chicharon          9665   12554835.0
3     01  Exotic Extras Kimchi and Seaweed          9676    7731124.0
4     01      HealthyKid 3+ Gummy Vitamins         11580   17370000.0
5     01      HealthyKid 3+ Nutrional Milk         11616   23115840.0
6     01    HealthyKid 3+ Yummy Vegetables         11928    5964000.0
7     02            Candy City Gummy Worms          9996    1499400.0
8     02           Candy City Orange Beans         10037    1997363.0
9     02      Exotic Extras Beef Chicharon         10001   12991299.0
10    02  Exotic Extras Kimchi and Seaweed          9949    7949251.0
11    02      HealthyKid 3+ Gummy Vitamins         11970   17955000.0
12    02      HealthyKid 3+ Nutrional Milk         11697   23277030.0
13    02    HealthyKid 3+ Yummy Vegetables         12216    6108000.0
14    03            Candy City Gummy Worms          9986    1497900.0
15    03           Candy City Orange Beans          9611    1912589.0
16    03      Exotic Extras Beef Chicharon          9816   12750984.0
17    03  Exotic Extras Kimchi and Seaweed          9967    7963633.0
18    03      HealthyKid 3+ Gummy Vitamins         12156   18234000.0
19    03      HealthyKid 3+ Nutrional Milk         11886   23653140.0
20    03    HealthyKid 3+ Yummy Vegetables         11964    5982000.0
21    04            Candy City Gummy Worms         10043    1506450.0
22    04           Candy City Orange Beans          9914    1972886.0
23    04      Exotic Extras Beef Chicharon          9890   12847110.0
24    04  Exotic Extras Kimchi and Seaweed          9921    7926879.0
25    04      HealthyKid 3+ Gummy Vitamins         11778   17667000.0
26    04      HealthyKid 3+ Nutrional Milk         11856   23593440.0
27    04    HealthyKid 3+ Yummy Vegetables         11925    5962500.0
28    05            Candy City Gummy Worms          9801    1470150.0
29    05           Candy City Orange Beans          9964    1982836.0
30    05      Exotic Extras Beef Chicharon         10028   13026372.0
31    05  Exotic Extras Kimchi and Seaweed          9773    7808627.0
32    05      HealthyKid 3+ Gummy Vitamins         11907   17860500.0
33    05      HealthyKid 3+ Nutrional Milk         11991   23862090.0
34    05    HealthyKid 3+ Yummy Vegetables         11745    5872500.0
35    06            Candy City Gummy Worms          9934    1490100.0
36    06           Candy City Orange Beans         10106    2011094.0
37    06      Exotic Extras Beef Chicharon          9902   12862698.0
38    06  Exotic Extras Kimchi and Seaweed         10104    8073096.0
39    06      HealthyKid 3+ Gummy Vitamins         11991   17986500.0
40    06      HealthyKid 3+ Nutrional Milk         11550   22984500.0
41    06    HealthyKid 3+ Yummy Vegetables         11718    5859000.0

### Item Sales Per Month Table

In [170]:
# Item Sales Per Month Table
output = pd.pivot_table(data=item_sales_per_month, 
                        index=['transaction_item'], 
                        columns=['month'], 
                        values='Total Sales')
output

month,01,02,03,04,05,06
transaction_item,,,,,,
Candy City Gummy Worms,1433850.0,1499400.0,1497900.0,1506450.0,1470150.0,1490100.0
Candy City Orange Beans,1945026.0,1997363.0,1912589.0,1972886.0,1982836.0,2011094.0
Exotic Extras Beef Chicharon,12554835.0,12991299.0,12750984.0,12847110.0,13026372.0,12862698.0
Exotic Extras Kimchi and Seaweed,7731124.0,7949251.0,7963633.0,7926879.0,7808627.0,8073096.0
HealthyKid 3+ Gummy Vitamins,17370000.0,17955000.0,18234000.0,17667000.0,17860500.0,17986500.0
HealthyKid 3+ Nutrional Milk,23115840.0,23277030.0,23653140.0,23593440.0,23862090.0,22984500.0
HealthyKid 3+ Yummy Vegetables,5964000.0,6108000.0,5982000.0,5962500.0,5872500.0,5859000.0

In [172]:
df

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,"Exotic Extras,Beef Chicharon,(x4)",5196,2022/01/12
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"Exotic Extras,Beef Chicharon,(x3);HealthyKid 3...",12056,2022/01/12
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Gummy Vitamins,(x3);HealthyKid 3...",5500,2022/01/08
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Yummy Vegetables,(x1)",500,2022/01/10
4,"33911 Hansen Loaf\nWest Sandra, ND 54188",1949/09/27,michael78@yahoo.com,Kristen Cooper,F,qhernandez,"Candy City,Orange Beans,(x3);Candy City,Gummy ...",2697,2022/01/24
...,...,...,...,...,...,...,...,...,...
83031,"96081 Harrison Brooks\nJenniferbury, MA 02124",2019/10/26,christina55@hotmail.com,Tammy Byrd,F,kmcconnell,"Exotic Extras,Kimchi and Seaweed,(x2);HealthyK...",3588,2022/06/05
83032,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",2095,2022/06/12
83033,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"Candy City,Orange Beans,(x4);Candy City,Gummy ...",3396,2022/06/15
83034,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Nutrional Milk,(x2);Candy City,G...",4280,2022/06/09
83035,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,"HealthyKid 3+,Nutrional Milk,(x1);Candy City,G...",2639,2022/06/03

In [202]:
#customer dataframe
customer_df = df[['name', 'transaction_date']].copy()

# transaction date
customer_df ['year']= customer_df.transaction_date.str.split('/', expand=True)[0]
customer_df ['month']= customer_df.transaction_date.str.split('/', expand=True)[1] 
customer_df ['day']= customer_df.transaction_date.str.split('/', expand=True)[2] 

customer_df

                    name transaction_date  year month day
0      Jennifer Campbell       2022/01/12  2022    01  12
1            Melissa Kim       2022/01/12  2022    01  12
2            Melissa Kim       2022/01/08  2022    01  08
3            Melissa Kim       2022/01/10  2022    01  10
4         Kristen Cooper       2022/01/24  2022    01  24
...                  ...              ...   ...   ...  ..
83031         Tammy Byrd       2022/06/05  2022    06  05
83032    Donald Andersen       2022/06/12  2022    06  12
83033    Donald Andersen       2022/06/15  2022    06  15
83034    Donald Andersen       2022/06/09  2022    06  09
83035  Stephanie Russell       2022/06/03  2022    06  03

[83036 rows x 5 columns]

In [203]:
customer_df = customer_df.drop(["transaction_date","year","day"], axis=1)
customer_df = customer_df.drop_duplicates()
customer_df

                    name month
0      Jennifer Campbell    01
1            Melissa Kim    01
4         Kristen Cooper    01
5        Alexander Davis    01
6           Michael Lowe    01
...                  ...   ...
83025    Shirley Everett    06
83027     Brenda Gardner    06
83028     Bethany Peters    06
83030         Tammy Byrd    06
83032    Donald Andersen    06

[39617 rows x 2 columns]

In [206]:
jan_df = customer_df.loc[customer_df["month"] == "01"]
feb_df = customer_df.loc[customer_df["month"] == "02"]
mar_df = customer_df.loc[customer_df["month"] == "03"]
apr_df = customer_df.loc[customer_df["month"] == "04"]
may_df = customer_df.loc[customer_df["month"] == "05"]
jun_df = customer_df.loc[customer_df["month"] == "06"]

In [214]:
#Repeater Count
jan_rep = 0
feb_rep = pd.merge(jan_df["name"],feb_df["name"], how='inner').size
mar_rep = pd.merge(feb_df["name"],mar_df["name"], how='inner').size
apr_rep = pd.merge(mar_df["name"],apr_df["name"], how='inner').size
may_rep = pd.merge(apr_df["name"],may_df["name"], how='inner').size
jun_rep = pd.merge(may_df["name"],jun_df["name"], how='inner').size

print(jan_rep, feb_rep, mar_rep, apr_rep, may_rep, jun_rep)

0 5172 5216 5154 5110 5193

In [240]:
jf_df = pd.concat([jan_df,feb_df])
jf_df = jf_df.drop(["month"], axis=1).drop_duplicates()
jfm_df = pd.concat([jan_df,feb_df,mar_df])
jfm_df = jfm_df.drop(["month"], axis=1).drop_duplicates()
jfma_df = pd.concat([jan_df,feb_df,mar_df,apr_df])
jfma_df = jfma_df.drop(["month"], axis=1).drop_duplicates()
jfmam_df = pd.concat([jan_df,feb_df,mar_df,may_df])
jfmam_df = jfmam_df.drop(["month"], axis=1).drop_duplicates()

In [241]:
#Inactive Count
jan_ina = 0
feb_ina = pd.merge(jan_df["name"], feb_df["name"], how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']["name"].size
mar_ina = pd.merge(jf_df["name"], mar_df["name"], how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']["name"].size
apr_ina = pd.merge(jfm_df["name"], apr_df["name"], how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']["name"].size
may_ina = pd.merge(jfma_df["name"], may_df["name"], how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']["name"].size
jun_ina = pd.merge(jfmam_df["name"], jun_df["name"], how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']["name"].size

print(jan_ina, feb_ina, mar_ina, apr_ina, may_ina, jun_ina)

0 1416 1747 1909 1917 1831

In [245]:
#Engaged Count
jan_eng = jan_df["name"].size
feb_eng = pd.merge(feb_df["name"], jan_df["name"], how='inner').size
mar_eng = pd.merge(mar_df["name"], jf_df["name"], how='inner').size
apr_eng = pd.merge(apr_df["name"], jfm_df["name"], how='inner').size
may_eng = pd.merge(may_df["name"], jfma_df["name"], how='inner').size
jun_eng = pd.merge(jun_df["name"], jfmam_df["name"], how='inner').size

print(jan_eng, feb_eng, mar_eng, apr_eng, may_eng, jun_eng)

6588 5172 6300 6460 6548 6636

In [246]:
transactions_df = pd.DataFrame(
    {
        "Jan": [jan_rep, jan_ina, jan_eng],
        "Feb": [feb_rep, feb_ina, feb_eng],
        "Mar": [mar_rep, mar_ina, mar_eng],
        "Apr": [apr_rep, apr_ina, apr_eng],
        "May": [may_rep, may_ina, may_eng],
        "Jun": [jun_rep, jun_ina, jun_eng],
    },
    index=["Repeater", "Inactive", "Engaged"],
)

### Customer Transactions Table

In [247]:
transactions_df

           Jan   Feb   Mar   Apr   May   Jun
Repeater     0  5172  5216  5154  5110  5193
Inactive     0  1416  1747  1909  1917  1831
Engaged   6588  5172  6300  6460  6548  6636